* {
  box-sizing: border-box;
  font-family: Sanchez;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  background-color: #EEE9E3;
}

.App-header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #191d32;
  height: 3em;
  width: 100%;
}


.Header-text {
  font-size: large;
  color: white;
  padding: .6em 1.6em;
}

.Header-button:active {

}

.Header-button {
  color: #c6b38e;
  background-color: #191d32;
  border: 1px solid #191d32;
  flex-flow: row;
  height: 4em;
  width: 8em;
}

#Personal-info {
  margin-top: 4.25em;
  margin-left: .7em;
  margin-right: .7em;
  margin-bottom: .7em;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  /* background-color: #D9CCBE; */
  /* background-color: #c4af9a; */
  /* align-content: flex-start; */
  /* border: solid 3px red; */
}

.Info-card {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#Headshot {
  box-shadow: 0 0 5px;
  border-radius: 50%;
  width: 300px;
  height: auto;
  margin: 1.5% 2%;
}

.Body-container {
  margin: .7em .2em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(109, 78, 85, .7);
  background-color: rgba(25,29,50,.85);
  color: #EEE9E3;
  box-shadow: 0 0 10px;
}

.Body-title {
  text-align: center;
}

.Project-name {
  text-decoration: underline;
}

#Personal-info .Body-text {
  padding: 0 5%;
  text-align: center;
}

.Project-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.Project-video-container {
  width: 60%;
}


.Project-video {
  width: 100%;
}

.Project-container .Body-text {
  margin: .2em;
}

@media only screen and (min-width: 600px) {
  .Project-video-container {
    padding: 12px;
    width: calc(60% - 24px);
  }

  .Project-video {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .Project-container {
    flex-flow: row;
  }

  .Project-container .Body-text {
    width: 50%;
    text-align: left;
  }

  .Project-video-container {
    /* padding: 0 12px;
    width: calc(50% - 24px); */
    position: relative;
    padding-bottom: 20%; /* 16:9 ratio */
    padding-top: 8px;
    height: 0;
    margin-left: 1rem;
  }

  .Project-video-container .Project-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    /* width: 400px; */
    /* height: 200px; */
  }

}
