* {
  box-sizing: border-box;
  font-family: Sanchez, serif;
}

body {
  position: relative;
}

a {
  color: #c6b38e;
}
/* 
 a:hover {
  color: white;
} */

.navbar {
  position: relative;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  background-color: #eee9e3;
}

.App-header {
  font-family: Montserrat, sans-serif;
  position: fixed;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #191d32;
  height: 3em;
  width: 100%;
  z-index: 2;
}

.App-header p {
  color: #c6b38e;
}

.Header-text {
  font-size: large;
  color: white;
  padding: 0.6em 1.6em;
}

.Header-button {
  color: #c6b38e;
  background-color: #191d32;
  border: 1px solid #191d32;
  flex-flow: row;
  height: 4em;
  width: 8em;
}

.Header-button a {
  font-family: Montserrat;
  text-decoration: none;
}

.Header-button a:hover {
  font-family: Montserrat;
  text-decoration: underline;
}

/* .In-view {
  background-color: #c6b38e;
}

.In-View a {
  color: #191d32;
} */

#Personal-info {
  margin-top: 4.25em;
  margin-left: 0.7em;
  margin-right: 0.7em;
  margin-bottom: 0.7em;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-bottom: 4rem;
  /* background-color: #D9CCBE; */
  /* background-color: #c4af9a; */
  /* align-content: flex-start; */
  /* border: solid 3px red; */
}

#About-me {
  margin-top: 20%;
}

#Exp {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.Info-card {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#Headshot {
  box-shadow: 0 0 5px;
  border-radius: 50%;
  width: 300px;
  height: auto;
  margin: 2.5%;
}

.Body-container {
  margin: 0.7em 0.2em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(109, 78, 85, 0.7);
  background-color: rgba(25, 29, 50, 0.85);
  color: #eee9e3;
  box-shadow: 0 0 10px;
}

.Body-title {
  text-align: center;
}

.Project-name {
  text-decoration: underline;
}

#Personal-info .Body-text {
  padding: 0 5%;
  text-align: center;
}

.Project-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.Project-video-container {
  width: 60%;
}

.Project-video {
  width: 100%;
}

.Project-container .Body-text {
  margin: 0.2em;
}

.Project-links-container {
  width: 75%;
  display: flex;
  flex-flow: row;
  /* justify-content: space-evenly; */
  justify-content: space-around;
  margin-bottom: 2rem;
}

.Project-links {
  width: 8rem;
  font-size: larger;
  border: 1px solid #c6b38e;
  padding: 0.5rem;
  box-shadow: 0 0 2px;
}

.Exp-desc-list {
  list-style: square;
}

.Exp-desc-item {
  text-align: left;
  padding-bottom: 10px;
}

#faLogo {
  width: 40%;
}

#mixyLogo {
  width: 40%;
}

#Contact-container {
  background-color: #191d32;
}
#Contact {
  color: #c6b38e;
}
.Contact-info-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}

.Contact-logo {
  width: 2.75rem;
}

.Contact-text {
  color: #c6b38e;
}

.Github-logo img {
  height: auto;
  padding-top: 8px;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 8px;
}

@media only screen and (min-width: 600px) {
  .Project-video-container {
    padding: 12px;
    width: calc(60% - 24px);
  }

  .Project-video {
    width: 100%;
  }

  .Project-links-container {
    width: 60;
  }
}



@media only screen and (min-width: 768px) {
  .App-header {
    justify-content: space-evenly;
  }
  .Header-button a {
    font-size: large;
  }
  #Personal-info {
    align-items: center;
    justify-content: center;
  }

  .Info-card {
    width: 70%;
  }

  .Project-container {
    align-items: center;
    justify-content: center;
  }

  .Project-container .Body-text {
    width: 50%;
    margin: 3% 0 5% 0;
  }

  .Project-video-container {
    /* padding: 0 12px;
    width: calc(50% - 24px); */
    position: relative;
    padding-bottom: 20%; /* 16:9 ratio */
    padding-top: 8px;
    height: 0;
    margin-left: 8rem;
  }

  .Project-video-container .Project-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    /* width: 400px; */
    /* height: 200px; */
  }

  #Headshot {
    width: 500px;
    margin: 5%;
  }

  #Personal-info .Body-text {
    padding: 0 5%;
    font-size: x-large;
  }

  .Info-card {
    padding-bottom: 10%;
  }

  /* .Info-card .Body-title {
    
  } */

  .Project-links-container {
    width: 40%;
  }

  .Exp-desc-item {
    font-size: x-large;
  }
  #About-me {
    margin: 10% 0 5% 0;
  }

  #Personal-info .Body-text {
    margin: 5% 0;
  }

  .Project-container .Body-text {
    font-size: x-large;
  }
  
  .Contact-logo {
    width: 6rem;
  }
  
  .Contact-text {
    color: #c6b38e;
  }
  
  .Github-logo img {
    height: auto;
    padding-top: 8px;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 8px;
  }
}
